@using GACKO.Shared.Models.Subscription
@model SubscriptionModel

    <tr>
        <td data-title="Name">@Model.Name</td>
        <td data-title="Amount">@Model.Amount</td>
        <td data-title="Expiration Date">@Model.ExpirationDate</td>
        <td data-title="AddedDate">@Model.AddedDate</td>
        <td data-title="FrequncyMonth">@Model.FrequncyMonth</td>
    </tr>
