@using GACKO.Shared.Models.Subscription
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SubscriptionModel

<tr>
    <td data-title="Name">@Model.Name</td>
    <td data-title="Amount">@Model.Amount</td>
    <td data-title="Expiration Date">@Model.ExpirationDate</td>
    <td data-title="AddedDate">@Model.AddedDate</td>
    <td data-title="FrequncyMonth">@Model.FrequncyMonth</td>
    <td>
        @*using (Html.BeginForm("Delete", "Subscription", new { area = "VirtualAccount" }, FormMethod.Post))
        {*@
            <input type ="hidden" id="deletesubscription-id" value="@Model.Id" name="id"/>
            <input type="submit" value="X" onclick="deletesubscription()" class="btn btn-primary"/>
        @*}*@
        </td>
</tr>
